---
import ProjectCard from "../components/ProjectCard.astro";
import RootLayout from "../layouts/RootLayout.astro";
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/Dropdown.astro";

export const prerender = true;
---

<RootLayout
  title="Pcoi94"
  description="Roblox front-end & back-end developer."
  social={{
    title: "Devex calculator",
    type: "website",
    url: "https://pcoiscript.xyz/calculator",
  }}
>
  <Layout>
    <p>Reworking...</p>
  </Layout>
</RootLayout>
